<!-- <app-user></app-user> -->
<div>
  <article class="text-3xl font-bold underline">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia at facilis
    iure ut? Excepturi saepe rem beatae delectus ipsum obcaecati placeat.
    Debitis in itaque odio! Temporibus minima optio deleniti beatae.
  </article>


  @defer{
    <!-- loading in defear mode to dont loading in the begin , justo when scroll to that part -->
    <app-comments></app-comments>
    <div class="grid grid-cols-2 gap-2">
        <app-games (addSrcImagenEvent)="setSrcImage($event)"></app-games>
          <img *ngIf="srcGameImage !== ''; else messageSelectImagen" [src]="srcGameImage" alt="no cargo la imagen"/>
    </div>
  } @placeholder {
    <!-- placeholder is for the reserve the space -->
    <p>.</p>
  } @loading(minimum 1s) {
    <!-- loading is for show something for a specific time -->
    <p>Cargando........</p>
  }
</div>
<ng-template #messageSelectImagen>
  {{srcGameImage | json}}
</ng-template>
